.content {
    background-image: url("../../assets/hero_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    height: 92vh;
}

.form {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    min-width: 80%;
    margin: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.title {
    color: #3983e4;
}

.secondary-action {
    padding: 1rem 0;
}

.link {
    font-weight: 700;
    text-decoration: none;
}

.link:focus {
    color: #3983e4;
}

.link:active {
    color: #287bf7;
}

.link:visited {
    color: #287bf7;
}

/* .button {
    background-color: #3983e4 !important;
}

.button:hover {
    background-color: #0b64e9 !important;
} */

@media screen and (min-width: 768px) {
    .content {
        justify-content: flex-end;
    }
    .form {
        min-width: 24rem;
    }
}