.carausel-header{
    width: 100%;
    height: 300px;
    text-align: center;
}
.qwerty{
    padding-bottom: 100px;
}
.carausel-image{
    width: 100vh;
}

.categoryBox {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.categories{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.category1{
    background-image: url("../../assets/Images/indian1.jpg");
}
.category2{
    background-image: url("../../assets/Images/japanese1.jpg");
}
.category3{
    background-image: url("../../assets/Images/italian1.jpg");
}
.category4{
    background-image: url("../../assets/Images/chinese1.jpg");
}
.category5{
    background-image: url("../../assets/Images/mexican1.jpg");
}
.category6{
    background-image: url("../../assets/Images/mediterranean1.jpg");
}


.categoryName{
    text-decoration: none;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: white;
}